    <ul class="nav nav-tabs" >
        <li class="nav-item">
          <a class="nav-link " href="#"  routerLink="/home">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"  routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"  routerLink="/notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" routerLink="/orders" >Orders</a>
        </li>
    </ul>

 