<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      
      <div class="login100-pic">
        <img [src]="imageSrc">
      </div>

      <form class="login100-form validate-form" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <span class="login100-form-title">
          Register
        </span>

        <div class="wrap-input100 validate-input" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <input class="input100" type="text" name="firstName" placeholder="Name" [(ngModel)]="model.firstName" #firstName="ngModel" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>

        <div class="wrap-input100 validate-input" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <input class="input100" type="text" name="lastName" placeholder="Last Name" [(ngModel)]="model.lastName" #lastName="ngModel" required >
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>

        <div class="wrap-input100 validate-input" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <input class="input100" type="text" name="username" placeholder="Email" [(ngModel)]="model.username" #username="ngModel" required >
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>

        <div class="wrap-input100 validate-input" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <input class="input100" type="password" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid DNI is required">
          <input class="input100" type="text" name="dni" placeholder="DNI">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
       
        <div class="wrap-input101">
          <label class="symbol-input100">Provider</label>
          <input class="input101" type="checkbox" name="provider" placeholder="Provider">
        </div>

        <div class="wrap-input100 validate-input">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Join me
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
