<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      
      <div class="login100-pic">
        <img [src]="firstImages">
      </div>

      <form class="login100-form validate-form">
        <span class="login100-form-title">
          Register
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Valid first name is required">
          <input class="input100" type="text" name="firstName" placeholder="Name">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid last name is required">
          <input class="input100" type="text" name="lastName" placeholder="Last Name">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid DNI is required">
          <input class="input100" type="text" name="dni" placeholder="DNI">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="Email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <input class="input100" type="password" name="pass" placeholder="Password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div class="wrap-input101">
          <label class="symbol-input100">Provider</label>
          <input class="input101" type="checkbox" name="provider" placeholder="Provider">
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Join me
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
