<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<app-navmenu></app-navmenu>


<div class="container">
    <div class="row profile">
		<div class="col-md-6 col-md-offset-3">
        <div align="center">
            <p style="color:#428bca">
              Notification Pool
            </p>
          </div>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" style=" background-color:#5caa60" class="btn btn-primary">Accepted</a>
            <a href="#" style=" background-color:#b43434" class="btn btn-primary">Declined</a>
        </div>
  </li>
  <li class="list-group-item list-group-item-info"> <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" style=" background-color:#5caa60" class="btn btn-primary">Accepted</a>
      <a href="#" style=" background-color:#b43434" class="btn btn-primary">Declined</a>
  </div></li>
  <li class="list-group-item list-group-item-warning"> <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" style=" background-color:#5caa60" class="btn btn-primary">Accepted</a>
      <a href="#" style=" background-color:#b43434" class="btn btn-primary">Declined</a>
  </div></li>
  <li class="list-group-item list-group-item-danger"> <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" style=" background-color:#5caa60" class="btn btn-primary">Accepted</a>
      <a href="#" style=" background-color:#b43434" class="btn btn-primary">Declined</a>
  </div></li>
  <li class="list-group-item list-group-item-warning"> <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" style=" background-color:#5caa60" class="btn btn-primary">Accepted</a>
      <a href="#" style=" background-color:#b43434" class="btn btn-primary">Declined</a>
  </div></li>
  <li class="list-group-item list-group-item-danger"> <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" style=" background-color:#5caa60" class="btn btn-primary">Accepted</a>
      <a href="#" style=" background-color:#b43434" class="btn btn-primary">Declined</a>
  </div></li>
</ul>
</div>
</div>
</div>