<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<app-navmenu></app-navmenu>

<div class="container">
    <div class="row profile">
		<div class="col-md-6 col-md-offset-3">
        <div align="center">
            <p style="color:#428bca">
              Generate Order
            </p>
          </div>
<form>
    <span style="font-size: small;" size="2">¡Gracias por su interés en nuestros servicios! Para solicitar una cotización de forma gratuita, simplemente complete y envíe el Formulario de Solicitud de Cotización aquí debajo. Lo contactaremos a la brevedad.<br><br>Confiamos en que encontrará nuestra oferta de cotización satisfactoria, y esperamos con interés trabajar con usted. Por favor, no dude en ponerse en contacto con nosotros ante cualquier tipo de duda.<br><br><em><span style="font-size: 8pt;">Nota: La información enviada será utilizada únicamente para contactarlo con motivo de su solicitud de cotización.</span> </em></span>
    <div class="form-group">
      <label for="exampleSelect1">Order type</label>
      <select class="form-control" id="exampleSelect1">
        <option><h3>Service</h3></option>
        <option><h3>Product</h3></option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleSelect2">Select Order/Service</label>
      <select multiple class="form-control" id="exampleSelect2">
        <option>Service 1</option>
        <option>Service 2</option>
        <option>Service 3</option>
        <option>Product 1</option>
        <option>Product 2</option>
        <option>Product 3</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Observations</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group" align="center">
        <button type="submit" class="btn btn-primary">Send order</button>
    </div>
  </form>
</div>
</div>
</div>
<br/>